name: Finish Release
on: 
  push:
    branches:
      - main

jobs:
  create-pr-from-release-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: create pull request  
        id: pr_create
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}      
        run: |
          PR_URL="$(gh pr create -B develop -H main --title 'Back merge to develop' --body 'Created by Github action')"
          echo "url is $PR_URL"
          gh pr merge $PR_URL


        