name: Start Release
on: 
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version of the release

jobs:
  start-release:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - name: Start release
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }} 
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          BUMP_VERSION=${{ github.event.inputs.version }}

          if ! (echo $BUMP_VERSION | grep -E '^(((([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)((?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?)|patch|minor|major))$'); then
            echo -e "\n$[ERROR] Invalid semantic version found";
            exit 1;
          fi

          echo -e "\n[INFO] Switch to develop branch"
          git checkout develop
          git pull origin develop

          echo -e "\n[INFO] Calculating version"
          BUMP_VERSION="`npm version $BUMP_VERSION --no-git-tag-version`"
          git checkout package.json package-lock.json
      
          echo -e "\n[INFO] Creating new release branch"
          git checkout -b release/$BUMP_VERSION # new release branch

          echo -e "\n[INFO] Bump version"
          npm version $BUMP_VERSION --no-git-tag-version

          echo -e "\n[INFO] Commit Changes"
          GIT_USER=${{ github.actor }}
          echo -e "\n[INFO] $GIT_USER"
          echo "Github context is $GITHUB_CONTEXT"
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git add package.json package-lock.json
          git commit -m "Bumped up version to $BUMP_VERSION"

          echo -e "\n[INFO] Push new release branch to remote"
          git push -u origin release/$BUMP_VERSION

          echo -e "\n[INFO] Create PR from release branch to main"
          gh pr create -B main -H release/$BUMP_VERSION --title "Release, $BUMP_VERSION" --body 'Created by Github action'

        